.lw {
    font-size: 60px;
}

button {
    color: white;
    background: none;
    border: 2px outset #ff6550;
    font-weight: 700;
}

button:active {
    background: #00000033;
    border: 2px inset #ff6550;
}

body {
    display: flex;
    justify-content: center;
    background-color: #dedac5;

    font: 15px Arial, sans-serif;
}

.mainbody {
    background-color: white;
    margin: 0 auto;
    width: 100%;
    max-width: 1024px;
}

.content {}

.sidebar {
    background-color: #aa0000;
    width: 180px;
}